.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  gap: 3px;
}
